.quote-area {
  border-radius:8px;
  margin:8% auto;
  width: 65%;
  padding:25px;
  display:table;
  background-color: #e1e9f7;
}
.quote-area .quote-text {

}

.bottom-row {
  display:block;
  margin:8% auto;
}

.button {
  float:right;
  border:none;
  animation: bgcolor 30s ease infinite;
  color: white;
  outline: none;
  border-radius: 4px;
  font-size : 20px;
}

.bottom-row #tweet {
  font-size:48px;
  color: #575b63;
  float: left;
  padding-bottom: 16px;
  text-align:center;
  margin-right:5px;
  height:30px;
  width:40px;
}

.button:hover {
  color: black;
  opacity: .7;
}

.footer {
    font-size: 24px;
    color: #e1e9f7;
    font-family: 'Muli';
    text-align:center;
  }

.footer a {
  color: #e1e9f7;
}

html, body {
  animation: bgcolor 30s ease infinite;
}

p {
  color: #575b63;
  font-size: 24px;
}

@keyframes  bgcolor{
    0%{
        background: #27ae60;
    }
    20%{
        background: #2980b9;
    }
    40%{
        background: #8e44ad;
    }
    60%{
        background: #c0392b;
    }
    800%{
        background: #16a085;
    }
    100%{
        background: #27ae60;
    }
}
